services:
  db:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pgvector-database
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
      - "8000:8000"
    volumes:
      - pg_data:/var/lib/postgresql/data
volumes:
  pg_data: